@charset "UTF-8";

/* ***************
 * 전역 설정
 * ***************/
html, body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  height: 100vh;
  font-family: "Malgun Gothic","Segoe UI","Helvetica Neue","Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

/* h1 ~ h6 스타일 */
h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  position: relative;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5, h6 { font-size: 14px; }

/* GFM 표 스타일 */
table {
  padding: 0;
}

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}

/* 인용문 */
blockquote {
  color: #333;
  border-left: 5px solid #00C896;
  padding: 0 1em;
  margin-left: 0px;
  margin-right: 0px;
}

/* a 태그 기본 색상*/
a { color: #0077aa; }

/* 코드 */
code, tt {
  margin: 0 2px;
  padding: 0px 5px;
  white-space: nowrap;
  box-shadow: 0px 0px 2px #888;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Consolas, Menlo, Malgun Gothic;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

/* 형광펜 */
mark {
  background-color: #B1EEC0;
  color: #222;
  padding: 0 3px;
}

.underline {
  background-color: transparent;
  text-decoration: 2px underline #ff3333;
}


/* ***************
 * 구역 별 설정
 * ***************/

.mobile-header {
  display: none;
}

.mobile-footer {
  display: none;
}

/* 사이드 바 */
.sidebar {
  display: block;
  position: fixed;
  float: left;
  margin: 0px;
  width: auto;
  height: 100%;
  background: #fafafa;
  box-shadow: 4px 0 4px -4px #ccc;
  z-index: 1;
}

/* 헤더 */
header {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid black;
  background: #333;
}

header a {
  color: #fefefe;
  text-decoration: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}

.site-title {
  display: inline-block;
  margin: 0 auto;
  font-size: 2.3em;
}

.site-subtitle {
  display: inline;
  font-size: 1em;
  color: #fefefe;
}

/* 어바웃 / 컨택트 */
.site-nav {
  list-style: none;
  padding: 0px;
  line-height: 45px;
  margin-top: 0px;
}

.site-nav .site-nav-special a {
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  color: black;
  width: 50%;
}

.site-nav-blank {
  clear: both;
  height: 15px;
}

.site-nav a:hover {
  background: #eee;
}

/* 태그 */
.subject-text {
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}

.site-tags {
  display: block;
  line-height: 45px;
  padding: 10px;
}

.site-tags a {
  background: #333;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.site-tags a:hover {
  text-decoration: underline;
}

/* 푸터 */
footer {
  position: fixed;
  bottom: 20px;
  width: 100%;
}

.footer-msg {
  font-size: 14px;
  margin: 20px 20px 0 20px;
  text-decoration: none;
  color: black;
}

.footer-msg a:hover {
  text-decoration: underline;
}

/* 본문 */
article {
  float: right;
  margin-left: 250px;
  width: 100%;
  height: 100%;
}

.article-wrap {
  width: 740px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
}

.article-description {
  display: inline-block;
}

.article-date {
  display: block;
  float: right;
}

.main-article {
  padding-top: 10px;
  line-height: 28px;
  letter-spacing: -0.3px;
  color: #222;
  word-break: break-all;
}

.main-article p {
  margin-top: 1.5em;
  margin-bottom: 0px;
}

.main-article h2 {
  display: block;
  background-color: #FAFAFA;
  border-left: 5px solid #00C896;
  box-shadow: 0px 1px 5px #ccc;
  padding: 10px 20px;
  margin-top: 50px;
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: #333;
}

.main-article h3 {
  display: inline-block;
  background-color: #fff ;
  margin-top: 50px;
}

.main-article li {
  padding-left: 5px;
}

.main-article li::marker {
  font-weight: bold;
  color: #00C896;
}

.main-article .hr100 {
  margin-top: 50px;
}

.main-article .hr50 {
  margin-top: 50px;
  width: 50%;
}

.main-article .hr25 {
  margin-top: 50px;
  width: 20%;
  color: #ccc;
}

.main-article .vt {
  width: 2px;
  height: 50px;
  border-width: 0;
  color: #ccc;
  background-color: #ccc;
  margin-top: 40px;
}

.main-article img {
  display: block;
  margin: 50px auto;
  margin-bottom: 0px;
  max-width: Calc(100% - 100px);
  max-height: 350px;
  height: auto;
}

.main-article .img-description {
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
}

/*최근 글 목록*/
.recent-post {
  height: 130px;
  margin: 10px 0;
  padding-top: 20px;
}

.post-thumbnail-wrap {
  display: inline-block;
  width: 140px;
  height: 140px;
}

.recent-post .post-thumbnail {
  width: 100%;
  height: 100%;
  object-fit:cover;
  box-shadow: 0px 0px 2px 2px #eee;
  image-rendering: -webkit-optimize-contrast;
}

.recent-post .post-infomation {
  padding: 3px 0px 3px 10px;
  display: inline-block;
  vertical-align: top;
}

.recent-post .post-infomation .post-title {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.recent-post .post-infomation a {
  text-decoration: none;
}

.recent-post .post-infomation a:hover{
  text-decoration: underline;
  text-decoration-color: black;
}

.recent-post .post-infomation .post-description{
  display: block;
  width: Calc(740px - 140px - 20px);
  height: 72px;
  padding-top: 5px;
  overflow: hidden;
  line-height: 1.5em;
  color: black;
}

.post-tags a {
  display: inline-block;
  background: #333;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  margin-top: 8px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 18px;
}

.post-tags a:hover {
  text-decoration: underline;
}

.post-infomation .post-date {
  position: relative;
  float: right;
  vertical-align: bottom;
  margin-right: 10px;
  bottom: -10px;
}

.burger-check {
  display: none;
}

.mobile-space-blur {
  position: fixed;
  display: block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s ease-in-out;
  backdrop-filter: blur(5px);
  background: #000000CC;
  z-index: 2;
  pointer-events: none;
}

@media screen and (max-width: 1700px)
{
  article {
    margin-left: 240px;
    width: Calc(100% - 240px);
  }
}

@media screen and (max-width: 1023px)
{
  .sidebar {
    transition: 0.5s ease;
    left: -400px;
    top: 0px;
    display: fixed;
    overflow-y: hidden;
    z-index: 2;
    box-shadow: 4px 0 4px -4px #555;
  }

  .main-article img {
    max-width: Calc(100% - 20px);
  }

  article {
    float: none;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .article-wrap {
    width: Calc(100% - 30px);
    padding: 0px;
    margin-top: 80px;
  }

  .article-description {
    display: block;
    clear: both;
  }

  .article-date {
    display: none;
  }
  
  .mobile-header {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    padding: 5px 0 6px 0;
    background: white;
    box-shadow: 0 0 4px 0 gray;
    top: 0px;
  }

  .mobile-header a {
    color: black;
    text-decoration: none;
  }

  .post-thumbnail-wrap {
    display: inline-block;
    width: 100%;
    min-height: 200px;
    max-height: 100%;
  }

  .recent-post {
    height: auto;
  }

  .recent-post .post-infomation {
    display: block;
    padding: 10px 0px 3px 0px;
    width: 100%;
  }

  .recent-post .post-infomation .post-description {
    width: 100%;
    text-align: justify;
  }

  .mobile-footer {
    display: block;
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 50px;
  }

  .burger-icon {
    cursor: pointer;
    display: inline-block;
    position: fixed;
    z-index: 3;
    padding: 10px 10px;
    top: 10px;
    left: 10px;
    user-select: none;
    width: auto;
    margin: 0;
    transition: 0.4s ease;
  }
  
  .burger-icon .burger-sticks {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: all .2s ease-out;
    width: 18px;
    z-index: 3;
  }
  
  .burger-icon .burger-sticks:before,
  .burger-icon .burger-sticks:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .burger-icon .burger-sticks:before {
    top: 5px;
  }
  
  .burger-icon .burger-sticks:after {
    top: -5px;
  }
  
  .burger-check {
    display: none;
  }
  
  .burger-check:checked~ .sidebar {
    left: 0px; 
  }

  .burger-check:checked~ .burger-icon{
    left: 250px;
  }

  .burger-check:checked~ .mobile-space-blur {
    pointer-events: auto;
    opacity: 1;
  }

  .burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
    background: white;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
    background: white;
  }
  
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
  }
}
